In [1]:
import pandas as pd
import numpy as np

# Read the data from the CSV file
df = pd.read_csv('./Delhi_sep_So2.csv')
df

,longitude,latitude,2023-09-01,2023-09-02,2023-09-03,2023-09-04,2023-09-05,2023-09-06,2023-09-07,2023-09-08,...,2023-09-20,2023-09-21,2023-09-22,2023-09-23,2023-09-24,2023-09-25,2023-09-26,2023-09-27,2023-09-28,2023-09-29
0,76.832916,28.408461,0.000189,NaN,-0.000131,0.000181,-0.000238,0.000011,-0.000013,-0.000455,...,-0.000217,0.000365,0.000258,-0.000030,0.000926,0.000014,-0.000789,-0.000536,0.000607,-0.001667
1,76.832916,28.422062,-0.000611,-0.000384,0.000511,-0.001040,NaN,0.000192,0.000117,-0.000963,...,0.002074,NaN,0.000050,0.000116,0.000330,0.002956,-0.000165,0.000371,-0.000435,0.000397
2,76.832916,28.435664,-0.000207,-0.000300,NaN,NaN,0.000037,0.000754,-0.000334,NaN,...,NaN,0.000031,0.000164,-0.000030,-0.000507,0.000333,-0.000319,0.000038,0.000788,-0.000204
3,76.832916,28.449265,-0.000011,0.000126,0.000222,NaN,-0.000018,0.000250,-0.000520,0.000099,...,NaN,-0.000101,0.000386,0.000400,0.000185,0.000932,-0.000656,0.000335,0.000288,-0.000068
4,76.832916,28.462866,-0.000550,0.000672,0.000265,0.000203,-0.000290,NaN,0.000080,0.000302,...,-0.000087,-0.000799,-0.000402,0.000204,0.000091,0.000342,0.000064,-0.000149,0.000131,-0.000380
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1363,77.328716,28.830106,NaN,-0.000210,0.000018,0.000300,0.000281,NaN,NaN,-0.000093,...,-0.000277,-0.000015,0.000067,0.000291,0.000789,-0.000107,-0.001590,0.000360,0.000007,-0.000070
1364,77.328716,28.843708,-0.000996,NaN,-0.000195,-0.000521,NaN,0.000030,NaN,NaN,...,-0.000349,-0.000120,0.000178,0.000137,NaN,-0.000431,NaN,-0.000082,-0.000112,-0.000148
1365,77.328716,28.857309,NaN,-0.000792,0.042543,0.000061,0.000232,0.000181,NaN,0.000117,...,-0.000102,-0.000122,0.000103,-0.000112,-0.000110,0.000347,0.000122,-0.000951,0.000049,-0.000298
1366,77.328716,28.870910,NaN,-0.000083,-0.000477,NaN,0.000204,0.000764,NaN,-0.000340,...,-0.000070,NaN,-0.000025,-0.001119,0.000006,NaN,-0.000155,0.000233,-0.000111,0.000141
1367,77.328716,28.884512,0.000018,0.002054,NaN,0.000374,NaN,0.000018,0.000465,-0.000887,...,-0.000242,-0.000022,0.000512,0.000565,0.000041,0.000065,0.000290,-0.000277,-0.000342,0.000091

In [2]:
# Iterate over each date column and calculate the mean, excluding NaN values
for column in df.columns[2:]:
    mean_value = np.nanmean(df[column])
    print(f"Mean for {column}: {mean_value}")

Mean for 2023-09-01: -6.573576436688994e-05
Mean for 2023-09-02: -6.771088484655577e-05
Mean for 2023-09-03: 0.0001345682943893572
Mean for 2023-09-04: 1.7001981462856084e-05
Mean for 2023-09-05: 2.850199566973895e-05
Mean for 2023-09-06: 5.320374480005842e-05
Mean for 2023-09-07: 7.19923880104836e-05
Mean for 2023-09-08: 1.2300587760196601e-06
Mean for 2023-09-09: 2.987221400168468e-05
Mean for 2023-09-10: 5.0346302224790254e-05
Mean for 2023-09-11: 5.8807627502922854e-05
Mean for 2023-09-12: 6.015485796322834e-05
Mean for 2023-09-13: 1.5097630044594673e-05
Mean for 2023-09-14: -6.881524332322883e-06
Mean for 2023-09-15: -5.992583037470223e-05
Mean for 2023-09-16: 5.512539510718713e-05
Mean for 2023-09-17: -6.88913486995931e-05
Mean for 2023-09-18: 0.0001088973420688506
Mean for 2023-09-19: 5.92252007564174e-05
Mean for 2023-09-20: 3.534100533316864e-06
Mean for 2023-09-21: 5.922735643354741e-05
Mean for 2023-09-22: 7.810029314417586e-05
Mean for 2023-09-23: 1.0198218826158389e-05
Mean for 2023-09-24: 7.330895439180325e-05
Mean for 2023-09-25: -1.4876968007690716e-06
Mean for 2023-09-26: 3.922559939087679e-05
Mean for 2023-09-27: 2.4529349064284207e-05
Mean for 2023-09-28: 6.716539773645927e-05
Mean for 2023-09-29: -2.4185523791814985e-05

In [3]:
import pandas as pd
import numpy as np

# Create a new DataFrame to store the results
result_df = pd.DataFrame(columns=['date', 'threshold_value'])

# Iterate over each date column and calculate the mean, excluding NaN values
for column in df.columns[2:]:
    mean_value = np.nanmean(df[column])
    result_df = pd.concat([result_df, pd.DataFrame({'date': [column], 'threshold_value': [mean_value]})], ignore_index=True)

# Print or display the resulting DataFrame
print(result_df)

          date  threshold_value
0   2023-09-01        -0.000066
1   2023-09-02        -0.000068
2   2023-09-03         0.000135
3   2023-09-04         0.000017
4   2023-09-05         0.000029
5   2023-09-06         0.000053
6   2023-09-07         0.000072
7   2023-09-08         0.000001
8   2023-09-09         0.000030
9   2023-09-10         0.000050
10  2023-09-11         0.000059
11  2023-09-12         0.000060
12  2023-09-13         0.000015
13  2023-09-14        -0.000007
14  2023-09-15        -0.000060
15  2023-09-16         0.000055
16  2023-09-17        -0.000069
17  2023-09-18         0.000109
18  2023-09-19         0.000059
19  2023-09-20         0.000004
20  2023-09-21         0.000059
21  2023-09-22         0.000078
22  2023-09-23         0.000010
23  2023-09-24         0.000073
24  2023-09-25        -0.000001
25  2023-09-26         0.000039
26  2023-09-27         0.000025
27  2023-09-28         0.000067
28  2023-09-29        -0.000024

In [4]:
#thresold value csv file

In [5]:
# Save the resulting DataFrame to a CSV file
result_df.to_csv('./threshold_value_delhi_sep_so2.csv', index=False)