In [1]:
import pandas as pd
import numpy as np

# Read the data from the CSV file
df = pd.read_csv('./Delhi_2023_sep_Co.csv')
df

,longitude,latitude,2023-09-01,2023-09-02,2023-09-03,2023-09-04,2023-09-05,2023-09-06,2023-09-07,2023-09-08,...,2023-09-21,2023-09-22,2023-09-23,2023-09-24,2023-09-25,2023-09-26,2023-09-27,2023-09-28,2023-09-29,2023-09-30
0,76.832916,28.408461,NaN,NaN,0.028132,NaN,0.035007,0.025983,NaN,0.036566,...,0.027344,NaN,0.030230,0.025372,0.041999,NaN,NaN,0.030833,0.031075,NaN
1,76.832916,28.422062,NaN,0.037679,NaN,0.034488,0.032098,0.038398,NaN,NaN,...,NaN,NaN,NaN,NaN,0.031283,0.038937,NaN,0.028733,0.037478,0.045678
2,76.832916,28.435664,0.027700,NaN,0.025899,NaN,0.020989,NaN,0.026665,NaN,...,0.037800,NaN,0.026426,0.026951,NaN,0.034355,0.036955,0.027403,0.029403,0.040765
3,76.832916,28.449265,0.027510,NaN,NaN,NaN,0.031175,0.027372,NaN,NaN,...,NaN,0.028422,NaN,0.034895,0.026526,NaN,NaN,0.030718,NaN,0.041163
4,76.832916,28.462866,NaN,0.045553,NaN,NaN,0.032754,0.028902,NaN,NaN,...,NaN,0.029490,0.032671,NaN,NaN,0.034469,NaN,0.037126,0.031939,0.037883
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1363,77.328716,28.830106,NaN,NaN,NaN,NaN,NaN,0.021885,NaN,0.036465,...,0.032972,0.029830,0.032360,0.032387,0.042204,0.037634,NaN,NaN,0.034342,0.024768
1364,77.328716,28.843708,NaN,0.044008,0.037634,NaN,0.031476,NaN,NaN,0.040331,...,0.027508,NaN,0.034826,0.032233,0.038749,0.032675,NaN,NaN,NaN,NaN
1365,77.328716,28.857309,0.029673,NaN,0.030431,NaN,0.039512,0.041154,NaN,NaN,...,NaN,0.027406,0.032995,0.025050,0.030637,NaN,NaN,0.033946,0.035253,0.035694
1366,77.328716,28.870910,NaN,0.041777,NaN,NaN,0.029926,NaN,NaN,0.041927,...,0.039813,0.028064,0.035318,NaN,0.038770,0.027577,NaN,0.031721,0.043351,0.041528
1367,77.328716,28.884512,0.027547,NaN,0.042722,0.038106,NaN,NaN,NaN,NaN,...,NaN,0.024807,0.031446,NaN,0.033440,NaN,NaN,NaN,0.037542,NaN

In [2]:
# Iterate over each date column and calculate the mean, excluding NaN values
for column in df.columns[2:]:
    mean_value = np.nanmean(df[column])
    print(f"Mean for {column}: {mean_value}")

Mean for 2023-09-01: 0.02809266583565216
Mean for 2023-09-02: 0.03890524378236659
Mean for 2023-09-03: 0.03392873452714524
Mean for 2023-09-04: 0.03522332211788812
Mean for 2023-09-05: 0.03220135362621311
Mean for 2023-09-06: 0.033163012658816625
Mean for 2023-09-07: 0.03405692767832544
Mean for 2023-09-08: 0.03515008260111771
Mean for 2023-09-09: 0.036151072834974166
Mean for 2023-09-10: 0.0330307788142691
Mean for 2023-09-11: 0.03145750839491002
Mean for 2023-09-12: 0.0344607545824709
Mean for 2023-09-13: 0.03294184937070191
Mean for 2023-09-14: 0.03597843513729658
Mean for 2023-09-15: 0.03514679269141682
Mean for 2023-09-16: 0.03365774469796198
Mean for 2023-09-17: 0.029924900090888426
Mean for 2023-09-18: 0.03227243405284288
Mean for 2023-09-19: 0.03515798318219857
Mean for 2023-09-20: 0.03309297297922653
Mean for 2023-09-21: 0.0349450098650822
Mean for 2023-09-22: 0.03049892250578811
Mean for 2023-09-23: 0.032484685298159066
Mean for 2023-09-24: 0.03329777583703022
Mean for 2023-09-25: 0.034259869446011906
Mean for 2023-09-26: 0.03318236349444141
Mean for 2023-09-27: 0.032737835992974536
Mean for 2023-09-28: 0.03153265808941791
Mean for 2023-09-29: 0.03494499658514595
Mean for 2023-09-30: 0.035285614669756465

In [3]:
import pandas as pd
import numpy as np

# Create a new DataFrame to store the results
result_df = pd.DataFrame(columns=['date', 'threshold_value'])

# Iterate over each date column and calculate the mean, excluding NaN values
for column in df.columns[2:]:
    mean_value = np.nanmean(df[column])
    result_df = pd.concat([result_df, pd.DataFrame({'date': [column], 'threshold_value': [mean_value]})], ignore_index=True)

# Print or display the resulting DataFrame
print(result_df)

          date  threshold_value
0   2023-09-01         0.028093
1   2023-09-02         0.038905
2   2023-09-03         0.033929
3   2023-09-04         0.035223
4   2023-09-05         0.032201
5   2023-09-06         0.033163
6   2023-09-07         0.034057
7   2023-09-08         0.035150
8   2023-09-09         0.036151
9   2023-09-10         0.033031
10  2023-09-11         0.031458
11  2023-09-12         0.034461
12  2023-09-13         0.032942
13  2023-09-14         0.035978
14  2023-09-15         0.035147
15  2023-09-16         0.033658
16  2023-09-17         0.029925
17  2023-09-18         0.032272
18  2023-09-19         0.035158
19  2023-09-20         0.033093
20  2023-09-21         0.034945
21  2023-09-22         0.030499
22  2023-09-23         0.032485
23  2023-09-24         0.033298
24  2023-09-25         0.034260
25  2023-09-26         0.033182
26  2023-09-27         0.032738
27  2023-09-28         0.031533
28  2023-09-29         0.034945
29  2023-09-30         0.035286

In [4]:
#thresold value csv file

In [6]:
# Save the resulting DataFrame to a CSV file
result_df.to_csv('./threshold_value_delhi_sep_co.csv', index=False)