In [2]:
import pandas as pd
import numpy as np

# Read the data from the CSV file
df = pd.read_csv('./Karnataka_2023_sep_Co.csv')
df

,longitude,latitude,2023-09-01,2023-09-02,2023-09-03,2023-09-04,2023-09-05,2023-09-06,2023-09-07,2023-09-08,...,2023-09-21,2023-09-22,2023-09-23,2023-09-24,2023-09-25,2023-09-26,2023-09-27,2023-09-28,2023-09-29,2023-09-30
0,74.054306,11.574480,0.026720,0.028922,0.022325,NaN,0.030348,NaN,0.024858,NaN,...,0.027790,0.022454,0.036108,NaN,NaN,0.029836,NaN,0.026480,NaN,0.033154
1,74.054306,11.714901,0.028079,0.030119,0.030051,0.033101,NaN,NaN,0.028322,0.028153,...,0.023978,NaN,0.031777,NaN,0.030040,NaN,0.028746,0.026707,NaN,NaN
2,74.054306,11.855323,0.025664,0.025579,NaN,0.026525,0.033508,NaN,0.029675,NaN,...,0.019935,0.029732,0.018851,0.028465,NaN,0.029689,0.033269,NaN,NaN,NaN
3,74.054306,11.995744,0.027272,0.028197,0.026702,0.035919,0.031712,0.025474,0.025064,NaN,...,0.023661,0.024996,NaN,0.032917,0.027371,0.030038,0.023645,NaN,0.031468,0.030778
4,74.054306,12.136165,0.024162,0.028473,NaN,0.036429,NaN,NaN,NaN,0.025856,...,0.033186,NaN,0.034383,0.038819,NaN,NaN,0.026449,0.028908,NaN,0.036270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1645,78.534306,17.893435,0.023936,NaN,NaN,0.033540,0.023779,0.030859,NaN,NaN,...,NaN,0.028346,0.034493,NaN,NaN,0.032154,0.034473,0.031982,0.034702,0.033116
1646,78.534306,18.033856,NaN,0.033967,NaN,NaN,NaN,0.023601,0.027843,0.032015,...,NaN,NaN,NaN,0.022151,NaN,NaN,NaN,NaN,0.027426,NaN
1647,78.534306,18.174278,NaN,0.031315,0.027293,0.030359,0.028889,0.027046,NaN,0.031812,...,NaN,NaN,NaN,0.033440,0.025026,0.027648,NaN,0.028816,NaN,0.041734
1648,78.534306,18.314699,0.025555,0.041742,0.036789,0.030610,NaN,0.029433,NaN,NaN,...,0.032500,NaN,0.033537,0.031140,NaN,0.036035,0.030102,0.027923,0.028912,0.017818
1649,78.534306,18.455120,0.023913,0.036023,NaN,0.023289,0.035228,0.026428,NaN,NaN,...,NaN,NaN,0.027612,NaN,NaN,NaN,0.025952,NaN,0.034912,NaN

In [3]:
# Iterate over each date column and calculate the mean, excluding NaN values
for column in df.columns[2:]:
    mean_value = np.nanmean(df[column])
    print(f"Mean for {column}: {mean_value}")

Mean for 2023-09-01: 0.025399097336401878
Mean for 2023-09-02: 0.029811300012154523
Mean for 2023-09-03: 0.02693052808282284
Mean for 2023-09-04: 0.028511463543489435
Mean for 2023-09-05: 0.028268839468917093
Mean for 2023-09-06: 0.025436024568225864
Mean for 2023-09-07: 0.027760292196186313
Mean for 2023-09-08: 0.028870191297800066
Mean for 2023-09-09: 0.027898337724308126
Mean for 2023-09-10: 0.02863505624532695
Mean for 2023-09-11: 0.028644766110107082
Mean for 2023-09-12: 0.030226547449249082
Mean for 2023-09-13: 0.030867041822142862
Mean for 2023-09-14: 0.029338714012638028
Mean for 2023-09-15: 0.029856309941310777
Mean for 2023-09-16: 0.030815790577534773
Mean for 2023-09-17: 0.03173069071573798
Mean for 2023-09-18: 0.030823576249480716
Mean for 2023-09-19: 0.029969751745103305
Mean for 2023-09-20: 0.030910574390779752
Mean for 2023-09-21: 0.029219151000349438
Mean for 2023-09-22: 0.028634635987103155
Mean for 2023-09-23: 0.028310924369191737
Mean for 2023-09-24: 0.03113159662633696
Mean for 2023-09-25: 0.027482792507397526
Mean for 2023-09-26: 0.029719172402083712
Mean for 2023-09-27: 0.02936784529009514
Mean for 2023-09-28: 0.029168738321802435
Mean for 2023-09-29: 0.028889508349330753
Mean for 2023-09-30: 0.02905575703221454

In [4]:
import pandas as pd
import numpy as np

# Create a new DataFrame to store the results
result_df = pd.DataFrame(columns=['date', 'threshold_value'])

# Iterate over each date column and calculate the mean, excluding NaN values
for column in df.columns[2:]:
    mean_value = np.nanmean(df[column])
    result_df = pd.concat([result_df, pd.DataFrame({'date': [column], 'threshold_value': [mean_value]})], ignore_index=True)

# Print or display the resulting DataFrame
print(result_df)

          date  threshold_value
0   2023-09-01         0.025399
1   2023-09-02         0.029811
2   2023-09-03         0.026931
3   2023-09-04         0.028511
4   2023-09-05         0.028269
5   2023-09-06         0.025436
6   2023-09-07         0.027760
7   2023-09-08         0.028870
8   2023-09-09         0.027898
9   2023-09-10         0.028635
10  2023-09-11         0.028645
11  2023-09-12         0.030227
12  2023-09-13         0.030867
13  2023-09-14         0.029339
14  2023-09-15         0.029856
15  2023-09-16         0.030816
16  2023-09-17         0.031731
17  2023-09-18         0.030824
18  2023-09-19         0.029970
19  2023-09-20         0.030911
20  2023-09-21         0.029219
21  2023-09-22         0.028635
22  2023-09-23         0.028311
23  2023-09-24         0.031132
24  2023-09-25         0.027483
25  2023-09-26         0.029719
26  2023-09-27         0.029368
27  2023-09-28         0.029169
28  2023-09-29         0.028890
29  2023-09-30         0.029056

In [5]:
#thresold value csv file

In [6]:
# Save the resulting DataFrame to a CSV file
result_df.to_csv('./threshold_value_karnataka_sep_co.csv', index=False)